.type-263 * {
  box-sizing: border-box;
}
.type-263 .footer {
  background: #292929;
  padding: 70px 0;
  background-size: cover;
}
.type-263 .title-footer h2 {
  color: #fff;
  font-size: 24px;
}
.type-263 .title-footer p {
  margin-top: 50px;
  color: #8f8f8f;
}
.type-263 .input-email input {
  border: 1px solid #484848;
  padding: 6px 10px;
  color: #d1d0d0;
  outline: none;
  border-radius: 0;
  width: 100%;
  background: #313131;
}
.type-263 .btn-sub {
  margin-top: 20px;
  background: #24b6ac;
  font-size: 13px;
  padding: 6px 33px;
  display: inline-block;
}
.type-263 .btn-sub a {
  color: #fff;
  text-decoration: none;
}
.type-263 .btm-sub a:hover {
  cursor: pointer;
}
.type-263 .text-footer {
  margin-top: 50px;
  color: #8f8f8f;
}
.type-263 .text-footer p {
  padding: 5px 0;
}
.type-263 .icon-footer {
  background: #fff;
  display: inline-block;
  padding: 0px 5px;
  font-size: 24px;
  border-radius: 5px;
}
.type-263 .icon-footer i {
  color: #000;
}
.type-263 .text-footer ul li {
  padding: 0 7px;
}
.type-263 .text-footer ul li a {
  color: #fff;
  font-size: 2.2em;
  padding-bottom: 20px;
}
.type-263 .img-footer img {
  width: 100%;
  margin-top: 50px;
}
